@import './global.scss';

$bg-primary: var(--color-bg-primary);
$bg-card: var(--color-bg-card);

$text-primary: var(--color-text-primary);
$text-secondary: var(--color-text-secondary);

$spacing-xs: var(--spacing-xs);
$spacing-sm: var(--spacing-sm);
$spacing-md: var(--spacing-md);
$spacing-lg: var(--spacing-lg);
$spacing-xl: var(--spacing-xl);

